!!!
%html
  %head
    %meta{charaset: "UFT-8"}
    %title mercari


  %body
    = render "header"

    .top_banner
    .body
      .main
        = render "pickup"
    .bottom_banner

    = render "footer"
