%main
  %section
    %h2
    %form
      %input
      %div
        %div
          %label
          %span
          %input
        %div
          %label
          %span
          %input
        %div
          %label
          %span
          %input
        %div
          %label
          %span
          %input
        %div
          %label
          %span
          %input
        %div
          %label
          %span
          %input
        %div
          %label
          %span
          %input
        %div
          %label
          %span
          %input
        %div
          %label
          %span
          %input
        %div
          %label
          %span
          %input
        %p
      %div
        %input
        %div
          %div
        %div
          %p
        %button
        %div
          %p
            %span
            = link_to "" do
              =f a_icon ""
