$gray        : #aaa;
$light-gray  : #eef0f4;
$dark-gray   : #888888;
$blue        : #6ab5d8;
$yellow      : #fba933;
$pink        : #ef5185;
$light-blue  : #0099e8;
$pearl-gray  : #AAAAAA;
$white       : #ffffff;
$black       : #333333;
