$gray            : #aaaaaa;
$medium-gray     : #cccccc;
$light-gray      : #f5f5f5;
$high-light-gray : #fafafa;
$dark-gray       : #888888;
$blue            : #6ab5d8;
$light-blue      : #5d9dc9;
$dark-blue       : #385185;
$yellow          : #fba933;
$light-yellow    : #fff6de;
$pink            : #ef5185;
$light-blue      : #0099e8;
$pearl-gray      : #AAAAAA;
$white           : #ffffff;
$black           : #333333;
$red             : #ea352d;
$dark-red        : #aa252a;

