%main.single-main
  %section.l-single__container
    %h2.l-single__head 新規会員登録
    .l-single__inner
      .l-single__content
        = link_to "https://www.mercari.com/jp", class: "btn-default btn-mail" do
          = fa_icon "envelope"
          %span メールアドレスで登録
        %button.btn-default.btn-sns-facebook
          = fa_icon "facebook-official"
          %span Facebookで登録
        %button.btn-default.btn-sns-google
          =fa_icon "google-plus"
          %span Googleで登録
