.single-between{
  width: 700px;
  margin: 0 auto;
  background-color: white;
  .completed-msg{
    height: 90px;
    border-bottom:1px solid $light-gray;
    text-align: center;
    font-size: 20px;
    padding-top: 40px
  }
  .completed-path{
    height: 90px;
    text-align: center;
    font-size: 12px;
    padding-top: 40px;
  }
}
