.bread-crumbs {
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  border-top: 1px solid #eee;

  div {
    width: 1020px;
    margin: 0 auto;
    padding: 17px 0 16px;
  }

  span {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    &:last-child{
      font-weight: bold;
    }
  }

  a {
    text-decoration: none;
    color: #333;
  }

  .fa-angle-right {
    margin: 0 8px;
    color: #888;
  }
}
