.l-side {
  float: left;
  width: 280px;
  margin: 0 40px 0 0;

  &__mypage-nav ul:not(:first-child) {
    margin: 8px 0 0;
  }

  &__mypage-nav__head {
    margin: 40px 0 0;
    font-size: 16px;
    font-weight: bold;
  }

  &__mypage-nav__list {

    li {
      border-top: 1px solid #eee;
    }

    a {
      text-decoration: none;
    }

    span {
      font-size: 14px;
    }

    li:first-child {
      border: 0;
    }
  }

  &__mypage-nav__list__item {
    position: relative;
    display: block;
    padding: 12px 16px;
    background: #fff;
    color: #333;

    .fa-angle-right {
      position: absolute;
      top: 25%;
      right: 16px;
      color: #ccc;
      font-size: 24px;
    }

    &.active {
      background: #eee;
      font-weight: 600;

      .fa-angle-right {
        color: #333;
      }
    }
  }
}
