.l-container {
  height: 100%;
  margin: 40px auto 0;
  width: 1020px;
  padding-bottom: 40px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

@import "./modules/users/show/mypage-side";
@import "./modules/users/show/mypage-content";
