.l {
  &-content {
    height: 358px;
    width: 700px;
    float: right;
  }

  &-chapter {
    &-container {
      background-color: #fff;
      height: 358px;
      width: 700px;

      &:first-child {
        margin: 0;
      }
    }

    &-head {
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      font-weight: bold;
    }

    h2 {
      line-height: 1.4;
    }

    &-sub-head {
      font-size: 15px;
      font-weight: bold;
    }
  }

  &-single {
    &-inner {
      height: 179px;
      width: 572px;
      padding: 64px;
      border-top: 1px solid #f5f5f5;
    }

    &-content {
      max-width: 320px;
      margin: 0 auto;
    }
  }
}

.settings {
  &-add-card {
    padding: 24px;
    border-bottom: 1px solid #eee;

    .l-single-content {
      max-width: 320px;
      margin: 0 auto;

      .submit_button {
        &:first-child {
          margin: 0;
        }
        margin-bottom: 8px !important;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
      }

      a {
        text-decoration: none;
      }
    }
  }

  &-not-regist {
    a {
      display: block;
      margin: 40px 0 0;
      text-align: right;
      color: #0099e8;
      text-decoration: none;
      font-size: 14px;

      span {
        vertical-align: middle;
      }
    }
  }
}

.fa {
  margin: 0 0 0 8px;
  vertical-align: middle;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-size: 1.2em
}
