button {
  padding: 0;
}

.l-single {
  &__container {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
  }

  &__head {
    padding: 32px 16px;
    font-size: 22px;
    text-align: center;
    font-weight: 550;
  }

  &__inner {
    padding: 64px;
    border-top: 1px solid #f5f5f5;
  }

  &__content {
    margin: 0 auto;
    max-width: 320px;
  }
}

.single-main {
  .btn-default {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    color: #000;
    text-decoration: none;
    position: relative;

    span {
      font-size: 12px;
    }

    a {
      font-size: 12px;
      color: #fff;
    }
  }

  .btn-mail {
    background-color: #eee;
  }

  .btn-sns-facebook {
    margin: 15px 0 0;
    background: #385185;
    color: #fff;
  }

  .btn-sns-google {
    margin: 15px 0 0;
    background: #dc4e41;
    color: #fff;
  }

  .fa {
    font-size: 21px;
    position: absolute;
    top: 28%;
    left: 16px;
  }
}
