.default-container
  = render partial: "/default/default-header"
  = render partial: "users/show/bread-crumbs"
  = render partial: "users/show/show-mypage-main"
  = render partial: "/default/default-footer"
