.items#index {
  .items-box {
    &-container {
      height: 442px;
      max-width: 940px;
      margin: 0 auto;

      a {
        text-decoration: none;
      }

      h3 {
        font-size: 22px;
        font-weight: bold;
        margin: 26px 11px;
        color: #0099e8;
      }
    }

    &-content {
      margin: 0 auto;
      height: 330px;
      max-width: 940px;
    }
  }

  .text-center {
    text-align: center;

    a {
      font-size: 22px;
      font-weight: bold;
      margin: 26px 11px;
    }
  }

  .view-all {
    padding: 20px 0 30px;
    width: 99.5%;
    height: 14px;
    text-align: right;

    a {
      color: #0099e8;
      font-size: 14px;
    }
  }
}
