.items#index {
  .white {
    height: 4372px;
    width: 100%;
    background-color: #fff;
  }

  .top-carousel {
    overflow: hidden;
    position: relative;
    height: 390px;
    width: 100%;
    display: block;
  }

  .owl {

    &-stage {
      position: relative;

      &-outer {
        position: relative;
        overflow: hidden;
      }
    }

    &-item {
      height: 390px;
      width: 100%;
      background-image: image-url("banner-bokurano-heisei.jpg");
    }

    &-nav {
      color: transparent;
      display: block;
    }

    &-prev {
      background-image: image-url("carousel-prev.png");
      cursor: pointer;
      height: 46px;
      width: 31px;
      position: absolute;
      top: 35%;
      left: 60px;
    }

    &-next {
      background-image: image-url("carousel-next.png");
      cursor: pointer;
      height: 46px;
      width: 31px;
      position: absolute;
      top: 35%;
      right: 60px;
    }
  }
}
