.bread-crumbs{
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  border-top: 1px solid #eee;
  &__lists{
    width: 1020px;
    margin: 0 auto;
    padding: 17px 0 16px;
    font-size: 0;
    &__1st{
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      &__link{
        color: #333;
        text-decoration: none;
      }
      &__icon{
        margin: 0 8px;
        color: #888;
      }
    }
    &__2nd{
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      font-weight: bold;
    }
  }
}
