.setting-profile {
  margin: 24px auto 0;

  &__inner {
    width: 700px;
    margin: 0 auto 0;

    &--header {
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      margin: 0 0 0 0 ;
    }

    &__icon {
      padding: 72px 16px 24px;
      text-align: center;
      background-image: url("/user-bg.jpg");
      background-size: cover;

      &--image {
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        vertical-align: middle;
        background-color: green;
      }

      &--name {
        width: 186px;
        height: 28px;
        padding: 10px 16px 8px;
        margin: 0 0 0 8px;
        vertical-align: middle;
        border-radius: 4px;
        border: 1px solid #ccc;
        line-height: 1.5px;
        font-size: 16px;
      }
    }

    &__content {
      padding: 40px 16px;

      &--body {
        min-height: 194px;
        width: 646px;
        display: block;
        padding: 10px;
        border: 1px solid #ccc;
        font-size: 16px;
      }

      &--button {
        background-color: #ea352d;
        color: white;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
        margin: 16px 0 0;
      }
    }
  }
}
