.l-content {
  margin: 24px auto 0;

  .l-chapter-container {
    width: 700px;
    margin: 0 auto 0;

    .l-chapter-head {
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      margin: 0 0 0 0 ;
    }

    .setting-profile-icon {
      padding: 72px 16px 24px;
      text-align: center;
      background-image: url("/user-bg.jpg");
      background-size: cover;

      figure {
        display: inline-block;
        overflow: hidden;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        vertical-align: middle;
        background-color: green;

        img {
          vertical-align: middle;
          width: 60px;
          height: 60px;
        }
      }

      .input-default {
        height: 28px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        line-height: 1.5px;
        font-size: 16px;
      }

      .setting-profile-icon .input-default {
        width: 186px;
        margin: 0 0 0 8px;
        vertical-align: middle;
      }
    }

    .setting-profile-content {
      padding: 40px 16px;

      .textarea-default {
        min-height: 194px;
        width: 646px;
        display: block;
        padding: 10px;
        border: 1px solid #ccc;
        font-size: 16px;
      }

      .btn-default {
        background-color: #ea352d;
        color: white;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
        margin: 16px 0 0;
      }
    }
  }
}
