.items#show {
  //other items
  .items{
    &-in-user-profile{
      @media screen and (min-width: 768px){
      width: 700px;
      margin: 0 auto;
      }
    }
    &-box {
      position: relative;
      float: left;
      width: 48%;
      margin: 0 0 4% 4%;
      background: #fff;
      &:nth-child(odd) {
        margin: 0 0 4%;
        @media screen and (min-width: 768px){
          margin: 0 0 20px 20px;
        }
      }
      &:nth-child(5n+1) {
        @media screen and (min-width: 768px){
          margin-left: 0;
        }
      }
      a {
        display: block;
        color: $black;
      }
      &-head{
        font-size: 22px;
        margin: 24px 4% 8px;
        line-height: 1.4;
        @media screen and (min-width: 768px){
          margin: 24px 0 8px;
        }
      }
      &-overflow{
        overflow: hidden;
        .items-box-content {
          @include clearfix;
          width: auto;
          overflow-x: auto;
          overflow-y: hidden;
          padding: 0 10px;
          white-space: nowrap;
          font-size: 0;
          @media screen and (min-width: 768px){
            padding: 0;
          }
        }
        .items-box {
          float: none;
          display: inline-block;
          width: 55%;
          max-width: 220px;
          margin: 0 5px;
          vertical-align: top;
          @media screen and (min-width: 768px){
            float: left;
            display: block;
            width: 220px;
            margin: 0 0 20px 20px;
            vertical-align: inherit;
          }
          &:nth-child(odd) {
            @media screen and (min-width: 768px){
              margin: 0;
            }
          }
          &:nth-child(2n+1) {
            @media screen and (min-width: 768px){
              margin: 0 0 20px 20px;
            }
          }
          &:nth-child(3n+1) {
            @media screen and (min-width: 768px){
              margin: 0 0 20px;
            }
          }
          & img {
            width: 220px;
          }
        }
      }
      &-content {
        width: 92%;
        margin: 0 auto;
      }
      &-photo {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 0;
        padding: 0 0 100%;
        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
      }
      &-body{
        padding: 16px;
        height: 110px;
        .font-5 {
          font-size: 20px;
          font-weight: 600;
          color: $black;
        }
        .font-2 {
          @include clearfix;
          font-size: 16px;
          font-weight: 400;
          color: $black;
        }
      }
      &-num {
        @include clearfix;
        margin: 8px 0 0;
        .item-box-tax {
          font-size: 10px;
          clear: both;
        }
      }
      &-name {
        overflow: hidden;
        position: relative;
        font-weight: 400;
        height: 3em;
        line-height: 1.5;
        word-break: break-word;
        white-space: normal;
      }
      &-price {
       float: left;
      }
      &-likes {
        float: right;
      }
    }
  }
}
