.single-container
  = render partial: "/single/single-header"
  = render partial: "/addresses/new/single-main-addresses-new", object: @user, object: @address
  = render partial: "/single/single-footer"
