%section.items-box
  = link_to "" do
    %figure.items-box-photo
      = image_tag "sample.jpg"
    .items-box-body
      .items-box-name
        くつろぐ柴犬
      .items-box-num
        .items-box-price
¥
        .items-box-likes
          = fa_icon "heart"
        %p.item-box-tax
