%section.items-box-container
  %h3.text-center
    = link_to "uses/show" do
      %span
        #{brand.name}
        新着アイテム
  .items-box-content
    = render "items/items-box_brand"
    / = render "items/items-box_brand"
    / = render "items/items-box_brand"
    / = render "items/items-box_brand"
  .view-all
    = link_to "すべての商品を見る", ""
