.message-content
  %ul.message-items
    %li.clearfix
      .message-user
        %figure
          .message-user-unknown
            %img{alt: "", src:"//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?3708647559"}
          %figcaption.bold
      .message-body
        .message-body-text 出品者がコメントを削除しました
        .message-icons.clearfix
          %time.message-icon-left
            %i.fa.fa-clock-o
            %span 96 日前
          .message-icon-right

    %li.clearfix
      %a.message-user{href: "https://www.mercari.com/jp/u/603899392/"}
        %figure
          %div
            %img{alt: "", src: "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png"}/
          %figcaption.bold
            アワチン
      .message-body
        .message-body-text
          ありがとうございます。
          %br/
          購入したいなと思います。
        .message-icons.clearfix
          %time.message-icon-left
            %i.fa.fa-clock-o
            %span 74 日前
          .message-icon-right
            %form{action: "https://www.mercari.com/jp/comment/report/m70068440240/1856649020/", method: "POST"}
              %button{type: "submit"}
                %i.fa.fa-flag-o
              %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}

    %li.clearfix
      %a.message-user{href: "https://www.mercari.com/jp/u/603899392/"}
        %figure
          %div
            %img{alt: "", src: "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png"}/
          %figcaption.bold
            アワチン
      .message-body
        .message-body-text
          ありがとうございます。
          %br/
          購入したいなと思います。
        .message-icons.clearfix
          %time.message-icon-left
            %i.fa.fa-clock-o
            %span 74 日前
          .message-icon-right
            %form{action: "https://www.mercari.com/jp/comment/report/m70068440240/1856649020/", method: "POST"}
              %button{type: "submit"}
                %i.fa.fa-flag-o
              %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}

    %li.clearfix
      %a.message-user{href: "https://www.mercari.com/jp/u/603899392/"}
        %figure
          %div
            %img{alt: "", src: "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png"}/
          %figcaption.bold
            アワチン
      .message-body
        .message-body-text
          ありがとうございます。
          %br/
          購入したいなと思います。
        .message-icons.clearfix
          %time.message-icon-left
            %i.fa.fa-clock-o
            %span 74 日前
          .message-icon-right
            %form{action: "https://www.mercari.com/jp/comment/report/m70068440240/1856649020/", method: "POST"}
              %button{type: "submit"}
                %i.fa.fa-flag-o
              %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}

    %li.clearfix
      %a.message-user{href: "https://www.mercari.com/jp/u/603899392/"}
        %figure
          %div
            %img{alt: "", src: "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png"}/
          %figcaption.bold
            アワチン
      .message-body
        .message-body-text
          ありがとうございます。
          %br/
          購入したいなと思います。
        .message-icons.clearfix
          %time.message-icon-left
            %i.fa.fa-clock-o
            %span 74 日前
          .message-icon-right
            %form{action: "https://www.mercari.com/jp/comment/report/m70068440240/1856649020/", method: "POST"}
              %button{type: "submit"}
                %i.fa.fa-flag-o
              %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}
