.items-box-content.clearfix
  %section.items-box
    %a{:href => "https://item.mercari.com/jp/m94860364480/"}
      %figure.items-box-photo
        %img.lazyloaded.is-higher-height{:alt => "古着90sUSA製 パタゴニア【SYNCHILLA】フリース ジャケットL 青", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m94860364480_1.jpg?1544787066", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m94860364480_1.jpg?1544787066"}/
      .items-box-body
        %h3.items-box-name.font-2 古着90sUSA製 パタゴニア【SYNCHILLA】フリース ジャケットL 青
        .items-box-num.clearfix
          .items-box-price.font-5 ¥ 7,800
          .items-box-likes.font-2
            %i.fa.fa-heart-o
            %span 30
          %p.item-box-tax (税込)
  %section.items-box
    %a{:href => "https://item.mercari.com/jp/m55748360776/"}
      %figure.items-box-photo
        %img.lazyloaded{:alt => "【KOE×トムブラウン】コラボ ウールパンツ/スラックス 紺", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55748360776_1.jpg?1542300530", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55748360776_1.jpg?1542300530"}/
      .items-box-body
        %h3.items-box-name.font-2 【KOE×トムブラウン】コラボ ウールパンツ/スラックス 紺
        .items-box-num.clearfix
          .items-box-price.font-5 ¥ 3,500
          .items-box-likes.font-2
            %i.fa.fa-heart-o
            %span 9
          %p.item-box-tax (税込)
  %section.items-box
    %a{:href => "https://item.mercari.com/jp/m92725398431/"}
      %figure.items-box-photo
        %img.lazyloaded.is-higher-height{:alt => "古着90s コロンビア◇マウンテンジャケット 黒×ピンク メンズ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m92725398431_1.jpg?1544866851", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m92725398431_1.jpg?1544866851"}/
        %figcaption
          .item-sold-out-badge
            %div SOLD
      .items-box-body
        %h3.items-box-name.font-2 古着90s コロンビア◇マウンテンジャケット 黒×ピンク メンズ
        .items-box-num.clearfix
          .items-box-price.font-5 ¥ 5,000
          %p.item-box-tax (税込)
  %section.items-box
    %a{:href => "https://item.mercari.com/jp/m56784232463/"}
      %figure.items-box-photo
        %img.is-higher-width.lazyloaded{:alt => "非売品/未使用★アジア大会 ボストンバッグ 日本代表 選手用 支給品 デサント製", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m56784232463_1.jpg?1544866935", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m56784232463_1.jpg?1544866935"}/
      .items-box-body
        %h3.items-box-name.font-2 非売品/未使用★アジア大会 ボストンバッグ 日本代表 選手用 支給品 デサント製
        .items-box-num.clearfix
          .items-box-price.font-5 ¥ 13,300
          .items-box-likes.font-2
            %i.fa.fa-heart-o
            %span 10
          %p.item-box-tax (税込)
  %section.items-box
    %a{:href => "https://item.mercari.com/jp/m60906493501/"}
      %figure.items-box-photo
        %img.lazyloaded{:alt => "【新品未開封品】  ウルトラマン オーブ DX オーブカリバー", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m60906493501_1.jpg?1548871400", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m60906493501_1.jpg?1548871400"}/
      .items-box-body
        %h3.items-box-name.font-2 【新品未開封品】  ウルトラマン オーブ DX オーブカリバー
        .items-box-num.clearfix
          .items-box-price.font-5 ¥ 6,000
          %p.item-box-tax (税込)
  %section.items-box
    %a{:href => "https://item.mercari.com/jp/m71981894389/"}
      %figure.items-box-photo
        %img.lazyloaded{:alt => "mamiyou 様専用 配信用(270)", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m71981894389_1.jpg?1548525253", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m71981894389_1.jpg?1548525253"}/
        %figcaption
          .item-sold-out-badge
            %div SOLD
      .items-box-body
        %h3.items-box-name.font-2 mamiyou 様専用 配信用(270)
        .items-box-num.clearfix
          .items-box-price.font-5 ¥ 4,000
          .items-box-likes.font-2
            %i.fa.fa-heart-o
            %span 3
          %p.item-box-tax (税込)
%section.items-box-container.clearfix.items-box-overflow
%h2.items-box-head
  %a{:href => "https://www.mercari.com/jp/brand/539/214/"}
    コーチのショルダーバッグ その他の商品
.items-box-content.clearfix
  %section.items-box
    %a{:href => "https://item.mercari.com/jp/m58900580071/"}
      %figure.items-box-photo
        %img.lazyloaded{:alt => "COACH コーチ ショルダーバッグ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m58900580071_1.jpg?1549104618", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m58900580071_1.jpg?1549104618"}/
      .items-box-body
        %h3.items-box-name.font-2 COACH コーチ ショルダーバッグ
        .items-box-num.clearfix
          .items-box-price.font-5 ¥ 8,500
          .items-box-likes.font-2
            %i.fa.fa-heart-o
            %span 2
          %p.item-box-tax (税込)
  %section.items-box
    %a{:href => "https://item.mercari.com/jp/m11163049157/"}
      %figure.items-box-photo
        %img.lazyloaded{:alt => "COACH シグネチャー ショルダーバッグ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11163049157_1.jpg?1549170958", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11163049157_1.jpg?1549170958"}/
      .items-box-body
        %h3.items-box-name.font-2 COACH シグネチャー ショルダーバッグ
        .items-box-num.clearfix
          .items-box-price.font-5 ¥ 5,600
          %p.item-box-tax (税込)
  %section.items-box
    %a{:href => "https://item.mercari.com/jp/m21670064701/"}
      %figure.items-box-photo
        %img.lazyloaded{:alt => "COACH オールドコーチ 2way ショルダーバッグ USA製 ヴィンテージ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m21670064701_1.jpg?1546499344", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m21670064701_1.jpg?1546499344"}/
      .items-box-body
        %h3.items-box-name.font-2 COACH オールドコーチ 2way ショルダーバッグ USA製 ヴィンテージ
        .items-box-num.clearfix
          .items-box-price.font-5 ¥ 16,500
          .items-box-likes.font-2
            %i.fa.fa-heart-o
            %span 39
          %p.item-box-tax (税込)
  %section.items-box
    %a{:href => "https://item.mercari.com/jp/m85644954881/"}
      %figure.items-box-photo
        %img.is-higher-width.lazyloaded{:alt => "COACH コーチ バッグ ショルダー シグネチャー 無くなり次第終了 残り１点", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m85644954881_1.jpg?1548685177", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m85644954881_1.jpg?1548685177"}/
      .items-box-body
        %h3.items-box-name.font-2 COACH コーチ バッグ ショルダー シグネチャー 無くなり次第終了 残り１点
        .items-box-num.clearfix
          .items-box-price.font-5 ¥ 21,500
          .items-box-likes.font-2
            %i.fa.fa-heart-o
            %span 2
          %p.item-box-tax (税込)
  %section.items-box
    %a{:href => "https://item.mercari.com/jp/m53628051806/"}
      %figure.items-box-photo
        %img.is-higher-height.lazyloaded{:alt => "COACH コーチ ショルダーバッグ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m53628051806_1.jpg?1546322009", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m53628051806_1.jpg?1546322009"}/
      .items-box-body
        %h3.items-box-name.font-2 COACH コーチ ショルダーバッグ
        .items-box-num.clearfix
          .items-box-price.font-5 ¥ 19,500
          .items-box-likes.font-2
            %i.fa.fa-heart-o
            %span 2
          %p.item-box-tax (税込)
  %section.items-box
    %a{:href => "https://item.mercari.com/jp/m52143894756/"}
      %figure.items-box-photo
        %img.lazyloaded{:alt => "COACH☆チェーンバッグ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m52143894756_1.jpg?1549170820", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m52143894756_1.jpg?1549170820"}/
      .items-box-body
        %h3.items-box-name.font-2 COACH☆チェーンバッグ
        .items-box-num.clearfix
          .items-box-price.font-5 ¥ 11,111
          %p.item-box-tax (税込)
