%section.pickup-container
  %h2.pickup-head
    ピックアップカテゴリー
  = render "items/items-box-cantainer"
  = render "items/items-box-cantainer"
  = render "items/items-box-cantainer"
  = render "items/items-box-cantainer"
