%section.pickup-container
  %h2.pickup-head
    ピックアップカテゴリー
  = render partial: "items/items-box-cantainer", collection: @categories, as: :category
  / = render "items/items-box-cantainer"
  / = render "items/items-box-cantainer"
  / = render "items/items-box-cantainer"
