.default-countainer
  = render "default/default-header"
  #main.white
    #section.top-carousel
      .owl-stage-outer
        .owl-stage
          .owl-item
            %a.top-banner
    .owl-nav
      .owl-prev
      .owl-next
    .owl-dots
  = render "default/default-footer"
