.pc-header {
  width: 1440px;
  padding: 8px 0 0;
  background: #fff;

  &-inner__clearfix {
    width: 1020px;
    margin: 0 auto;
    padding: 0;
    height: 36px;

    a {
      display: block;
      color: #333;

      img {
        height: 36px;
        float: left;
      }
    }
  }

  .l-left {
    float: left;
  }

  .pc-header-form {
    float: right;
    position: relative;
    width: calc(100% - (134px + 16px));

    &__input-default {
      width: 100%;
      height: 16px;
      padding: 9px 0;
      background: #fafafa;
      margin: 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: 0;
    }
  }

  &-inner__pc-header-nav-box {
    padding-top: 8px;
    width: 1020px;
    margin: 0 auto;
    height: 38px;

    .l-left {
      float: left;
      padding: 0;

      .pc-header-nav {
        padding: 0;
        margin: 0;

        li {
          float: left;
          padding: 0;
        }

        li + li {
          padding: 0 0 0 16px;
        }

        h2 {
          height: 38px;
          line-height: 32px;
          font-size: 14px;
          font-weight: 400;
        }

        a {
          text-decoration: none;
          color: #333;
        }
      }
    }

    .l-right {
      float: right;

      .pc-header-user-nav {
        li {
          display: inline-block;
          margin: 0;
          height: 38px;
          vertical-align: middle;
        }

        li + li {
          padding-left: 10px;
        }

        .sp-header-user-icon {
          font-size: 14px;
          color: #333;
          text-decoration: none;
          display: block;

          figure {
            display: inline-block;
            width: 32px;
            vertical-align: middle;

            div {
              height: 32px;
            }
          }

          div {
            display: inline-block;
            color: #333;
            text-decoration: none;
            vertical-align: middle;
            margin-left: 4px;
          }

          img {
            border-radius: 50%;
                height: 32px;
                width: 32px;
          }
        }

        .pc-header-nav-root {
          color: #333;
          text-decoration: none;
          display: block;
          height: 38px;
          line-height: 33px;
        }
      }
    }
  }
}

.fa-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  line-height: 36px;
  cursor: pointer;
  text-align: center;
}
