.app-banner {
  width: 100%;
  height: 260px;
  margin: 0 auto;
  background-image: image-url("bottom_banner.jpg");
  background-position: center center;

  &-pc {
    height: 260px;
    width: 750px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    &-inner {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      color: #ffffff;

      h2 {
        font-size: 24px;
        font-weight: bold;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }

      p {
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
    }
  }

  &-icon {
    height: 68px;
    width: 420px;
    margin: 20px 0 0;
    text-align: center;

    figure {
      float: left;

      img {
        vertical-align: middle;
        height: 68px;
        width: 68px;
      }
    }

    ul {
      float: left;
      margin: 0 0 0 24px;
      line-height: 68px;

      .clearfix::after {
        clear: both;
      }

      li {
        float: left;
        position: relative;


        &:last-child {
          margin: 0 0 0 16px;
        }

        a {
          display: block;
          line-height: 68px;
        }

        img {
          height: 40px;
          width: 133px;
          vertical-align: middle;
        }
      }
    }
  }
}

.download {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 300px;

  img {
    vertical-align: middle;
    height: 100%;
    width: 100%;
  }
}

footer.global-footer {
  background-color: #212121;
  height: 100%;
  width: 100%;
  padding: 60px 0;
  color: #ffffff;

  nav {
    height: 90%;
    margin: 0 15vw;

    ul {

      li.footer {
        &-cell {
          width: 15vw;
          text-align: center;
          margin: 0 3% 0 0;
          display: inline-block;
          vertical-align:top;

          h2.footer-head {
            font-size: 16px;
            font-weight: bold;
          }

          ul {
            li:first-child {
              margin: 24px 0 0 0;
            }

            li{
              margin: 9px 0 0 0;
              font-size: 14px;
              line-height: 1.4;

              a {
                text-align: center;
                color: #fff;

                img {
                  height: 22px;
                  width: 22px;
                  margin: 0 8px 0 0;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }
  }

  .footer {
    &-logo {
      height: 33px;
      width: 100%;
      margin: 40px 0 0 0;
      text-align: center;

      .image {
        text-align: center;
      }
    }

    &-copyright {
      font-size: 12px;
      margin: 3px;
      text-align: center;
    }
  }
}
