.default-container
  = render partial: "/default/default-header"
  = render partial: "users/show/bread-crumbs"
  %main.l-container.clearfix
    = render partial: "users/show/mypage-side"

  = render partial: "/default/default-footer"
