.login {
  &__panel {
    max-width: none;
    width: 456px;
    margin: 0 auto;
    background: #fff;
  }

  &__no-account {
    padding: 35px 64px 40px 64px;
    text-align: center;

    p {
      font-size: 14px;
    }

    a {
      display: block;
      margin: 4px 0 0;
      border: 1px solid #0099e8;
      background: #0099e8;
      color: #fff;
      line-height: 40px;
      text-decoration: none;
      font-size: 14px;
    }
  }

  &__form__inner {
    padding: 24px 64px 32px;
    border-top: 1px solid #eee;

    a {
      color: #0099e8;
      text-decoration: none;
      display: block;
      margin: 40px 0 0;
      font-size: 12px;
    }

    .form__group {
      margin: 24px 0 0;
    }

    .form__group:first-child {
      margin: 0;
    }

    .btn-default {
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      cursor: pointer;
      text-align: center;
      color: #000;
      text-decoration: none;
      position: relative;

      span {
        font-size: 12px;
      }
    }

    .login-submit {
      margin: 24px 0 0;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
    }

    .btn-sns-facebook {
      background: #385185;
      color: #fff;
    }

    .btn-sns-google {
      margin: 15px 0 0;
      background: #dc4e41;
      color: #fff;
    }

    .fa {
      font-size: 21px;
      position: absolute;
      top: 28%;
      left: 16px;
    }

    .input-default {
      display: block;
      height: 28px;
      width: 294px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
  }

  &__form__inner:first-child {
    border: 0;
  }

  &__form__input {
    width: 100%;
    margin: 8px 0 0;
  }
}
