.bold {
  font-weight: 600;
}

body {
  position: relative;
  min-height: 100%;
  background: $light-gray;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: $black;
  line-height: 1;
}

a {
  color: $light-blue;
  text-decoration: none;
}
