.default-container
  = render partial: "/default/default-header"
  = render partial: "users/show/bread-crumbs"

  %main.l-container.clearfix
    .l-content.clearfix
      .l-chapter-container
        .l-single-inner
          .l-single-content
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn-default btn-red'


    = render partial: "users/show/mypage-side"
