.bottom_banner
.footer
  %ul
    .footer_box
      box
      .footer_box--title
        title
      .footer_box--main
        name
  .footer_logo
    = image_tag "logo-white.svg", class: 'image'
  .footer_copyright
    © 2019 Mercari
