!!!
%html
  %head
    %meta{charaset: "UFT-8"}
    %title mercari


  %body
    = render "tests/header"

    .top_banner
    .body
      .main
        = render "tests/pickup"
    = render "tests/footer"
